body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Poiret One', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero{
  height: 30vh;
  width: 100vw;
  object-fit:cover;
  object-position: 0 30%;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
}

h1{
  font-size:6vh;
  font-weight:bold;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.header{
  justify-content: space-between;
  height:25vh;
  padding: 5vh;
  padding-right: 10px
}

.navMenuItems{
  margin: 2vw;
  font-size: 4vh;
  font-weight:bold;
}

.navActive{
  opacity:.4
}

.hover:hover{
  cursor: pointer;
  text-shadow: 2px 2px 16px rgba(255, 255, 255, 1);
}

.navActive:hover{
  cursor: default;
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);
}

.aboutDiv{
  padding: 2vh 12vw 1vh 12vw;

}

.indent{
  text-indent: 2vh
}

.center{
  width:100vw;
  display:flex;
  justify-content:center;
}


.project {
  position: relative;
  width: 40vw;
  height: 15vh;
  margin: 2vw;
}

.projectImage{
  object-fit:cover;
  width: 40vw;
  height: 15vh;


}